body{
    overflow-x: hidden !important;
}
body::-webkit-scrollbar{
    display: none;
    scrollbar-width: 0;
}
a:focus{
    outline: none;
}
.bg-primary{
    background-color: $base-color !important;
}
.line{
    height: 2px;
    background: #dbdbdb;
}
h1{
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    text-align: center;
}
