.brand-img{
    width: 2.5rem;
    margin-left: 1.5rem;
}
.navbar-brand{
    position: absolute;
    font-size: 1.5rem;
}
.account-info{
    display: none;
}
#login-btn{
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-left: 1rem;
    width: 5rem;
    height: 2rem;
    outline: none;
    border-radius: 0.4rem;
    background: rgb(138, 228, 213);
}
.nav-link{
    margin-left: 1rem;
}
.fa-white{
    color: white;
    margin-left: 4rem;
}
.color-grey{
    color: #636e72;
}
.white-text{
    margin-left: 1rem;
    display: inline-block;
    color: white;
}
.footer{
    margin-top: 1.5rem;
    a{
        text-decoration: none;
        color: #636e72;
    }
    p{
        display: inline-block;
    }
    .footer-info{
        margin-left: 2rem;
    }
    .detail-info{
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: #636e72;
        display: block;
        p{
            margin-left: 0.5rem;
        }
        a{
            .contact-icon
            {
                margin-left: 1rem;
            }
        }
    }
}