<nav class="navbar nav-header navbar-expand-lg navbar-light bg-light nav-fill row banner">
  <div class="col-sm-2">
    <img src="/img/brand.png" class="brand-img" />
    <a class="navbar-brand" href="/">alorant</a>
  </div>
  <div class="col-sm-9">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="category-dropdown">
            <a class="nav-link" href="/products">PRODUCTS</a>
            <div class="dropdown-content bg-light">
              <a href="/products/chair" class="nav-link">Chair &amp Sofa</a>
              <a href="/products/decor" class="nav-link">Decoration</a>
              <a href="/products/table" class="nav-link">Table</a>
              <a href="/products/bed" class="nav-link">Bed</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">COLLECTION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="navbar-nav mr-auto">
      {{!-- <li class="nav-item" id="cart-btn">
        <a class="nav-link" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li> --}}
      <li class="nav-item dropdown account-info">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pofile</a>
          <a class="dropdown-item" href="#">Activity log</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <button id="login-btn">
          Login
        </button>
      </li>
    </ul>
  </div>
</nav>
<div style="display: block; height: calc(3.5rem);" class="nav-header-space">
</div>
<div class="login-popup">
  <div class="login-form">
    <div class="filter">
      <div class="icon">
        <div class="image">
          <img src="/img/logolog.png">
        </div>
        <h1>
          Welcome<br> to Valorant
        </h1>
        <h2>
          Find the best furniture for <br> your home!
        </h2>
      </div>
      <div class="login-input">
        <button id="close-login-btn">X</button>
        <div class="header">
          Sign up <span style="color: rgb(32, 138, 165);">/ Login</span>
        </div>
        <div class="login-sign-up">
          <div class="sign-up">
            <div>
              We will need...
            </div>
            <form action="post">
              <div class="input-container">
                <input type="text" name="uName" id="uName" placeholder="Your name">
                <i class="far fa-smile-wink"></i>
              </div>
              <div class="input-container">
                <input type="text" name="uAddress" id="uAddress" placeholder="Address">
                <i class="far fa-paper-plane"></i>
              </div>
              <div class="input-container">
                <input type="text" name="uUsername" id="uUsername" placeholder="Username">
                <i class="far fa-user"></i>
              </div>
              <div class="input-container">
                <input type="password" name="uPassword" id="uPassword" placeholder="One more line">
                <i class="far fa-keyboard"></i>
              </div>
              <input type="button" value="Sign up">
            </form>
          </div>
          <div class="ver-line">
            <div></div>
            <h2>
              Or
            </h2>
            <div></div>
          </div>
          <div class="login">
            <div>
              Also you can...
            </div>
            <form action="post">
              <div class="input-container">
                <input type="text" name="Username" id="Username" placeholder="Username">
                <i class="far fa-user"></i>
              </div>
              <div class="input-container">
                <input type="password" name="Password" id="Password" placeholder="Password">
                <i class="far fa-keyboard"></i>
              </div>
              <input type="button" value="Login">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cart-popup">
  <div class="cart-action">
    <div class="cart-form">
      <div class="shopping-title cart-show">Shopping cart</div>
      <div class="cart-item">
      </div>
      <div class="cart-total">
      </div>
      <button id="checkout-btn">Checkout</button>
    </div>
    <div class="cart-checkout">
      <div class="checkout-form">
        <div class="shopping-title">
          Purchase order
        </div>
        <label for="cusname">Name:</label><br>
        <input type="text" name="cusname" id="cusname">
        <label for="cusname">Address:</label><br>
        <input type="text" name="cusname" id="cusname">
        <label for="cusname">Phonenumber:</label><br>
        <input type="text" name="cusname" id="cusname">
        <label for="cusname">Type of payment:</label><br>
        <div>
          <input type="radio" name="type" id="otpay" value="2">
          <label for="otpay">One-time payments</label><br>
          <input type="radio" name="type" id="inspay" value="1">
          <label for="inspay">Installment payment</label>
        </div>
        <div style="display: flex; justify-content: space-between">
          <label>Provisional cost:</label>
          <label class="provisional-cost">$50</label>
        </div>
        <div style="display: flex; justify-content: space-between">
          <label>Transportation cost:</label>
          <label class="transportation-cost">$50</label>
        </div>        <div style="display: flex; justify-content: space-between">
          <label>Total:</label>
          <label class="transportation-cost">$9350</label>
        </div>
        <button>Order</button>
      </div>
      <div class="ver-line"></div>
    </div>
  </div>
</div>
<div class="cart">
  <button id="cart-btn-2">
    <i class="fas fa-shopping-cart"></i>
  </button>
  <div class="cart-nitem">0</div>
</div>
<div class="setting">
  <button id="setting-btn">
    <i class="fas fa-cog"></i>
  </button>
</div>
<div class="setting-select">
  <button class="setting-option">Product</button>
  <button class="setting-option">Supplier</button>
  <button class="setting-option">Staff</button>
  <button class="setting-option">Customer</button>
  <button class="setting-option">Sale Receipt</button>
  <button class="setting-option">Instalment Sale</button>
  <button class="setting-option">Product Receipt</button>
  <button class="setting-option">Product Issue</button>
  <button class="setting-option">Warranty</button>
  <button class="setting-option">Report</button>
</div>