<div class="product-page">
    <div >
        <div class="category-banner">
            <div >
                <img src="/img/combo.png">
            </div>
            <div class="category-detail">
                <h1>
                    Chair &amp Sofa
                </h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
                    Recusandae eos rerum repellendus, ratione aperiam modi facilis saepe obcaecati 
                    <br>doloremque fugiat, officiis magnam voluptate 
                    <br>error quibusdam, ex impedit necessitatibus voluptatibus perferendis.
                    <br>Lorem ipsum dolor sit  adipisicing elit. Nesciunt, inventore!
                </p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <h1>
        Product
    </h1>
    <div class="product-container">
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair3.png">
            </div>
            <a href="#" class="product-name">
                Modern chair
            </a>
            <p class="product-price">
                $400
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair4.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair6.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa3.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa2.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/seat.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/combo.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/table4.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
    </div>
    <div class="line"></div>
    <div class="container-category">
        <div class="brand-slider">
            <div class="product-brand">
                <img src="/img/logo_131.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_71.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_151.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_61.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_161.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_101.png">
            </div>
            <div class="product-brand">
                <img src="/img/logo_5.png">
            </div>
        </div>
        <button id="pBtn" class="btn-slider">
        <i class="fas fa-arrow-left fa-lg"></i>
        </button>
        <button id="nBtn" class="btn-slider">
        <i class="fas fa-arrow-right fa-lg"></i>
        </button>
    </div>
</div>