<h1 class="title">
    PRODUCTS
</h1>
<div class="product-display">
    <div class="title-font normal-size">
           Chair &amp Sofa
    </div>
    <div class="product-container flex">
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair3.png">
            </div>
            <a href="#" class="product-name">
                Modern chair
            </a>
            <p class="product-price">
                $400
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair4.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair6.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
    </div>
    <a href="#" class="title-font small-size center">
        See more >>>
    </a>
</div>
<div class="line"></div>
<div class="product-display">
    <div class="title-font normal-size">
        Garden &amp Wall Decor
    </div>
    <div class="product-container flex">
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair3.png">
            </div>
            <a href="#" class="product-name">
                Modern chair
            </a>
            <p class="product-price">
                $400
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair4.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair6.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
                <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
    </div>
    <a href="#" class="title-font small-size center">
        See more >>>
    </a>
</div>
<div class="line"></div>
<div class="product-display">
    <div class="title-font normal-size">
        Lamp &amp Celling Light
    </div>
    <div class="product-container flex">
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair3.png">
            </div>
            <a href="#" class="product-name">
                Modern chair
            </a>
            <p class="product-price">
                $400
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair4.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/chair6.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
                <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
        <div class="product-card">
            <div class="product-img">
                <img src="/img/sofa1.png">
            </div>
            <a href="#" class="product-name">
                HMR Bamboo Chair 
            </a>
            <p class="product-price">
                $300
            </p>
            <a href="#" class="btn-addcart">
                Add to cart 
            </a>
        </div>
    </div>
    <a href="#" class="title-font small-size center">
        See more >>>
    </a>
</div>
<div class="line"></div>
